
.body {
    font-family: "montserrat";
}

h1, h2, h3 {
    font-family: "montserrat-bold";
}


.center-text {
    text-align: center;
}


/* heading */

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.feature-heading {
   font-size: 1.5rem; 
}


.cta-heading {
    font-family: "montserrat-black";
    color: #fff;
    font-size: 4.5rem;
    line-height: 1.5;
}

/* navbar */

#title {
    background-color: #ff4c68;
    color: #fff;
}

.navbar-brand {
    font-family: "ubuntu";
}

.nav-item {
    font-family: "montserrat-light";
}

@media(max-width: 975px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        margin-right: 100px;
        width: 50%;
    }
}

/* download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image {
    width: 22%;
    transform: rotate(25deg);
    margin-left: 5.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    position: absolute;
}

/* features */

.feature-icon {
    color: #ef8172;
    margin-bottom: 7%;
}

.fa-heart:hover {
    color: #ff4c68;
}

#features {
    font-family: "montserrat-bold";
    padding: 15%  5%;
    background-color: #fff;
    position: relative;
}

.first-p {
    color: #8f8f8f;
}

/* testimonials */
#testimonials {
    background-color: #ef8172;
    color: #fff;
}


.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* carousel */

.carousel-item {
    padding: 7% 15%;
}
/* press */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

/* call to action */

#cta {
    background-color: #ff4c68;
    padding: 7% 10%;
}

/* footer */

#footer {
    background-color: #fff;
    padding: 5% 15%;
}


